.nada {
	font-family: "Sigmar", serif;
}

.navbar{
	z-index: 9999999999;
	height: 60px;
}

.navbar .collapse .nav-item:hover {
	background-color:rgba(23, 151, 176, 0.293);
	border-radius: 10px;
}
